.alertWrapper {
    background: $dark-color;
    padding: 25px;
    border-radius: 20px;
    margin: 25px;

    h2 {
        padding-bottom: 10px;

        .trackName {
            color: $primary-color;
        }
    }
}
