@import "../helper/variables";

input.input {
    color: $light-color;

    min-height: 44px;
    border-radius: 50px;

    background: #ffffff25;
    border: none;

    padding: 0 20px;
    margin: 5px 0;

    &.block {
        width: 100%;
    }
    &:focus {
        outline: none;
        border: 1px solid $primary-color;
    }
    &::placeholder {
        color: #ffffff85;
    }
}
