@import '../helper/variables.scss';

.lyricsWrapper {
  position: relative;
  display: grid;
  align-content: center;
  padding: 2rem;
  background: linear-gradient(
    90deg,
    $dark-color 0%,
    adjust-hue($dark-color, -10) 100%
  );
  gap: 1rem;
  border-radius: 1rem;
  transition: ease-in-out 0.5s;
  box-shadow: $jukebox-shadow;
  height: 100%;
  transition: 500ms ease-in-out;

  .lyricsLine {
    display: block;
    text-align: center;
    color: darken($primary-color, 30%);
    font-size: 1.7rem;
  }

  .lyricsLineCurrent {
    @extend .lyricsLine;
    font-weight: 600;
    font-size: 2.5rem;
    color: $dark-color;
  }
}

.lyricsNotFound {
  @extend .lyricsWrapper;
  background: linear-gradient(
    90deg,
    darken($dark-color, 1%) 0%,
    darken($dark-color, 3%) 100%
  );

  > div {
    @extend .lyricsLine;
    color: $light-color;
  }
}

.lyricsInfo {
  background: linear-gradient(45deg, rgb(0 0 0 / 29%), transparent);
  position: absolute;
  z-index: 99;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  left: 0%;

  > img {
    width: 50px;
    margin-right: 20px;
  }

  span {
    font-size: 0.8em !important;
  }

  box-shadow: $jukebox-shadow;
}

@media only screen and (max-width: 900px) {
  .lyricsLineCurrent {
    font-size: 2rem !important;
  }
  .lyricsLine {
    font-size: 1.4rem !important;
  }
}
