@import '../helper/variables.scss';

a.navbarItem {
  color: $light-color;
  opacity: 0.4;
  text-decoration: none;
  text-align: center;

  padding: 10px;
  width: -webkit-fill-available;

  &.active {
    opacity: 1;
  }

  div.icon-container {
    font-size: 22px;
  }

  div.text-container {
    font-size: 14px;
  }
}

a.navbarItem:hover {
  background: none;
  color: $primary-color;
  opacity: 1;
}
