.container {
  margin-bottom: 20px;

  > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
