.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    >div {
        padding: 0 10px;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}