.background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;

  z-index: 10000000;

  .modal {
    width: 80vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    animation: fadeIn 0.5s;

    h2 {
      margin-bottom: 20px;
    }

    .QRCodeContainer {
      animation: scaleUp 0.5s;
      margin: 20px 0;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
