.background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);

  display: flex;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;

  z-index: 10000000;

  .modal {
    width: 80vw;
    height: fit-content;

    margin: auto;
    padding: 20px;

    background-color: rgb(30, 30, 30);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 100;
    animation: fadeIn 0.5s;

    h2 {
      margin-bottom: 20px;
    }

    .QRCodeContainer {
      width: 100%;
      height: fit-content;
      animation: scaleUp 0.5s;
      margin: 10px 0;

      svg {
        width: 100%;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
