@import '../helper/variables';

li.row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 20px;
  border-bottom: 1px solid #ffffff25;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-family: Arial, Helvetica, sans-serif;

  &:hover {
    background: #ffffff25;
  }

  .artist {
    font-size: 0.8rem;
    color: $light-color-shade;
    margin-right: 3px;
  }

  .artist::after {
    content: ',';
  }

  .artist:last-child:after {
    content: '';
  }

  img {
    width: 50px;
  }

  > div {
    display: block;
    margin-left: 20px;

    > p {
      margin: 0;
      font-size: 1.2rem;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    > div {
      font-size: 0.7rem;
      color: $light-color-shade;
    }
  }

  width: 100%;
}

.addAlert{
  background: $background-transparent;
}
