@import 'styles/helper/variables.scss';
@import 'styles/components/button.module.scss';
@import 'styles/components/input.module.scss';
@import 'styles/components/navbar.module.scss';
@import 'styles/components/navItem.module.scss';
@import 'styles/components/queueHeader.module.scss';


* {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $dark-color;
    color: $light-color;

    .text-primary {
        color: $primary-color;
    }
    .text-light {
        color: $light-color;
    }
    .text-dark {
        color: $dark-color;
    }
    .text-error {
        color: $error-color;
    }
    .text-bold {
        font-weight: bold;
    }
    .text-italic {
        font-style: italic;
    }
    .text-center {
        text-align: center;
    }

}