$dark-color: #191919;
$light-color: #ffffff;
$primary-color: #ECE32F;

* {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $dark-color;
    color: $light-color;

    padding: 20px;

    .text-primary {
        color: $primary-color;
    }
    .text-light {
        color: $light-color;
    }
    .text-dark {
        color: $dark-color;
    }
    .text-bold {
        font-weight: bold;
    }
    .text-italic {
        font-style: italic;
    }

    }
}