$dark-color: #191919;
$light-color: #ffffff;
$primary-color: #ECE32F;

* {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $dark-color;
    color: $light-color;

    padding: 20px;

    .text-primary {
        color: $primary-color;
    }
    .text-light {
        color: $light-color;
    }
    .text-dark {
        color: $dark-color;
    }
    .text-bold {
        font-weight: bold;
    }
    .text-italic {
        font-style: italic;
    }

    button.btn {
        min-height: 44px;
        border-radius: 50px;
        font-weight: bold;

        padding: 0 20px;
    
        &.primary {
            color: $dark-color;
            background: $primary-color;
            border: none;
        }
        &.secondary {
            color: $primary-color;
            background: none;
            border: 1px solid $primary-color;
        }
        &.tertiary {
            color: $primary-color;
            background: none;
            border: none;
        }
        &.block {
            width: 100%;
        }
        &:hover {
            opacity: 90%;
            cursor: pointer;
        }
    }

    input {
        color: $light-color;

        min-height: 44px;
        border-radius: 50px;

        background: #ffffff25;
        border: none;

        padding: 0 20px;

        &.block {
            width: 100%;
        }
        &:focus {
            outline: none;
            border: 1px solid $primary-color;
        }
        &::placeholder {
            color: #ffffff85;
        }
    }
}